{% extends 'base.html' %}
{% load static %}
{% block content %}

<div style="width: 80%; margin: 0 auto; margin-top: 100px; margin-bottom: 100px;">
    <form method="post">{% csrf_token %}
        <div class="form-group">
          <label for="exampleFormControlInput1">User Name : </label>
          <input readonly value="{{ items.user }}" class="form-control" id="exampleFormControlInput1">
        </div>
        
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Product : </label>
          <textarea readonly typname="description" class="form-control" id="exampleFormControlTextarea1" rows="3">{{ items.product.name }}</textarea>
        </div>
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
</div>








{% endblock content %}